<!-- 

  File: services.ejs
  Name: Amin Patel
  ID: 300968902
  Date: Feb 15th, 2021

-->

<!-- Footer Navigation Section -->

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #30475e;">
    <div class="container-fluid">
        <h7 class="display-6 navbar-text"> &copy; 2021 All rights reserved </h7>
    </div>
</nav>